In [2]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

 

# Create an engine instance

alchemyEngine   = create_engine('postgresql+psycopg2://my_user:my_password@localhost/my_db', pool_recycle=3600);

 

# Connect to PostgreSQL server

conn    = alchemyEngine.connect();

In [2]:
ASS1_FILE = r"C:\Users\aqeel.altaf\Desktop\Data Engineering Assessment\Material\Question1-Material.xlsx"
DEPTRN_SHEET = "DBtest.dbo.DepositTransactions"
GP_SHEET = "DBtest.dbo.GamePlayTransactions"

dep = pd.read_excel(ASS1_FILE, sheet_name=DEPTRN_SHEET)
gp = pd.read_excel(ASS1_FILE, sheet_name=GP_SHEET)

#

In [3]:
#a. Based on your normalized model, answer the below questions by providing us with the  respective SQL queries:

In [4]:
# b. Which are the 10 largest completed deposit transactions? Extract the amount, customer email, customer brand name and calendar date.
dep.nlargest(n=10, columns=['amount_eur'])[["amount_eur", "CustomerEmail", "CustomerBrandName", "CalendarDate"]]

    amount_eur                 CustomerEmail CustomerBrandName  CalendarDate
1    99.954219  betsson7@testbetssongroup.om          BrandABC      20210105
2    99.393521  betsson6@testbetssongroup.om          BrandGHI      20210101
3    98.550624  betsson3@testbetssongroup.om          BrandABC      20210102
4    96.542504  betsson3@testbetssongroup.om          BrandABC      20210105
0    95.221557  betsson3@testbetssongroup.om          BrandABC      20210102
5    93.265848   betsson@testbetssongroup.om          BrandABC      20210104
14   92.778977   betsson@testbetssongroup.om          BrandABC      20210105
17   89.286755   betsson@testbetssongroup.om          BrandABC      20210102
6    88.798928  betsson4@testbetssongroup.om          BrandDEF      20210102
34   85.767210  betsson5@testbetssongroup.om          BrandGHI      20210102

In [5]:
#c. What is the total number and amount of failed deposit transactions per brand?
# Extract  total number, amount, customer brand name, paymentstatus. 

dep[dep["PaymentStatusName"] == "Failed"].groupby(by="CustomerBrandName").agg({'CustomerBrandName':'count','amount_eur':'sum'})

                   CustomerBrandName  amount_eur
CustomerBrandName
BrandABC                           3  179.531986
BrandDEF                           3  137.549155
BrandGHI                           1   85.767210

In [6]:
# d. How much daily turnover and accounting revenue did each brand generate per product in the first 6 days of the year?
# Extract turnover, accountingrevenue, brand. 
gp[gp["CalendarDate"] <= 20210106].groupby("CustomerBrand").aggregate({"turnover_EUR" : "sum", "totalAccountingRevenue_EUR" : "sum"})

               turnover_EUR  totalAccountingRevenue_EUR
CustomerBrand
BrandABC        2452.209478                 -572.741053
BrandDEF        1526.681294                 -449.071244
BrandGHI        1060.926938                 -335.830123

In [7]:
# e. What is the average gamewin per product? Extract the average gamewin and product. 
gp.groupby(by="ProviderProductName").aggregate({"gameWin_EUR":np.average})

                     gameWin_EUR
ProviderProductName
Games of Chance        -6.182484
Poker                  -1.308644
Sportsbook             -5.562201

In [8]:
# f. Which customers had a lifetime total turnover of 500 EUR or more and what was this total turnover amount?
# Extract turnover, customeremail, customer
turnovers= gp.groupby(by="CustomerEmail").aggregate({"turnover_EUR":"sum"})
turnovers[turnovers["turnover_EUR"] >= 500]

                               turnover_EUR
CustomerEmail
betsson2@testbetssongroup.com    958.934486
betsson3@testbetssongroup.com    711.688935
betsson4@testbetssongroup.com    567.746808
betsson5@testbetssongroup.com    515.731814
betsson6@testbetssongroup.com    545.195125
betsson7@testbetssongroup.com    563.241676
betsson@testbetssongroup.com     906.865703

In [12]:
customer_columns = ["CustomerEmail", "CustomerBrand", "CustomerCountry", "CustomerStatus"]
customer1 = gp[customer_columns].drop_duplicates()
customer_columns = ["CustomerEmail", "CustomerBrandName", "CustomerCountry", "CustomerAccountStatus"]
customer2 = dep[customer_columns].drop_duplicates()


customer1.columns =['email', 'brand', 'country', 'status']
customer2.columns =['email', 'brand', 'country', 'status']
customer2.email = customer2.email.str.replace("om","com")
customer1.append(customer2).drop_duplicates()


customer1.to_sql("customer" , con=conn, index=False, if_exists="append")

In [13]:
payment_method_columns = ["PaymentMethodName","PaymentMethodType"]
payment_method = dep[payment_method_columns].drop_duplicates()
payment_method.columns = ["name", "type"]
payment_method.to_sql("payment_method" , con=conn, index=False, if_exists="append")

In [14]:
payment_status_columns = ["PaymentStatusName","PaymentStatusDescription"]
payment_status = dep[payment_status_columns].drop_duplicates()
payment_status.columns = ["name", "description"]
payment_status.to_sql("payment_status", con=conn, index=False, if_exists="append")

In [15]:
provider_columns = ["ProviderName", "ProviderProductName"]
provider = gp[provider_columns].drop_duplicates()
provider.columns = ["name", "product_name"]
provider.to_sql("provider", con=conn, index=False, if_exists="append")

In [74]:

# cust = pd.read_sql_table("customer",con=conn)
# pm = pd.read_sql_table("payment_method",con=conn)
# ps = pd.read_sql_table("payment_status",con=conn)

def get_user_id(email):
    return cust[cust["email"] == email]["customer_id"].values[0]

def get_payment_method_id(name, type_):
    return pm[pm["name"] == name]["payment_method_id"].values[0]

def get_payment_status_id(name, provider_name):
    return ps[ps["name"] == name]["payment_status_id"].values[0]

# get_user_id('betsson3@testbetssongroup.com')
# dep["customer_id"] = dep.apply(lambda row : get_user_id(row["CustomerEmail"].replace("om", "com")), axis=1 )

dep["payment_method_id"] = dep.apply(lambda row : get_payment_method_id(row["PaymentMethodName"], row["PaymentMethodType"]), axis=1 )
dep["payment_status_id"] = dep.apply(lambda row : get_payment_status_id(row["PaymentStatusName"], row["PaymentStatusDescription"]), axis=1 )

dep_new = dep[["CalendarDate", "amount_eur", "customer_id", "payment_method_id", "payment_status_id"]]
dep_new.columns = ["calendar_date", "amount_eur", "customer_id", "payment_method_id", "payment_status_id"]
dep_new.to_sql("deposit" , con=conn, index=False, if_exists="append")

In [114]:

cust = pd.read_sql_table("customer",con=conn)
pr = pd.read_sql_table("provider",con=conn)

def get_provider_id(name, product_name):
    
    a = pr[(pr["name"] == name) & (pr["product_name"] == product_name)]["provider_id"].values
    if len(a)>0:
        return a[0]
    else:
        return 2
gp["customer_id"] = gp.apply(lambda row : get_user_id(row["CustomerEmail"]), axis=1 )

gp["provider_id"] = gp.apply(lambda row : get_provider_id(row["ProviderName"], row["ProviderProductName"]), axis=1 )


gp_new = gp[["CalendarDate", "DeviceName", "rounds", "gameWin_EUR", "turnover_EUR", "bonus cost","customer_id","provider_id" ]]
gp_new.columns = ["calendar_date", "device_name", "rounds", "gamewin_eur", "turnover_eur", "bonus_cost","customer_id","provider_id" ]
gp_new.to_sql("gameplay" , con=conn, index=False, if_exists="append")

# Queries

In [ ]:
# b. Which are the 10 largest completed deposit transactions? 
# Extract the amount, customer email, customer brand name and calendar date.
'''select amount_eur , 
email , 
brand  ,
calendar_date  
from deposit  left join customer on deposit.customer_id=customer.customer_id order by amount_eur desc limit 10;'''

In [ ]:
#c. What is the total number and amount of failed deposit transactions per brand?
# Extract  total number, amount, customer brand name, paymentstatus. 


''select count(deposit_id),sum(d.amount_eur) ,c.brand ,'Failed'  from deposit d 
inner join payment_status ps 
on d.payment_status_id = ps.payment_status_id and  ps.name = 'Failed' 
left join customer c on d.customer_id = c.customer_id 
group by c.brand;'''

In [115]:
# d. How much daily turnover and accounting revenue did each brand generate per product in the first 6 days of the year?
# Extract turnover, accountingrevenue, brand. 
gp[gp["CalendarDate"] <= 20210106].groupby("CustomerBrand").aggregate({"turnover_EUR" : "sum", "totalAccountingRevenue_EUR" : "sum"})

         name                              description
0      Failed                       payment has failed
1   Completed  payment has been completed successfully
14    Pending              payment is pending approval

In [ ]:
select sum(g.turnover_eur), sum(g.gamewin_eur + g.bonus_cost),c.brand
from gameplay g 
inner join customer c on g.customer_id = c.customer_id and g.calendar_date <= 20210106 
group by c.brand ;

In [116]:
# d. How much daily turnover and accounting revenue did each brand generate per product in the first 6 days of the year?
# Extract turnover, accountingrevenue, brand. 

'''select sum(g.turnover_eur), sum(gamewin_eur) + sum(g.bonus_cost),c.brand
from gameplay g 
inner join customer c on g.customer_id = c.customer_id and g.calendar_date <= 20210106 
group by c.brand ;'''

               turnover_EUR  totalAccountingRevenue_EUR
CustomerBrand
BrandABC        2452.209478                 -572.741053
BrandDEF        1526.681294                 -449.071244
BrandGHI        1060.926938                 -335.830123

In [118]:
# e. What is the average gamewin per product? Extract the average gamewin and product. 
'''select AVG(g.gamewin_eur),  p.product_name from gameplay g 
left join provider p on g.provider_id = p.provider_id 
group by p.product_name;  '''

'select AVG(g.gamewin_eur),  p.product_name from gameplay g \nleft join provider p on g.provider_id = p.provider_id \ngroup by p.product_name;  '

In [ ]:
# f. Which customers had a lifetime total turnover of 500 EUR or more and what was this total turnover amount?
# Extract turnover, customeremail, customer 

'''select sum(g.turnover_eur), c.email  from gameplay g 
left join customer c on g.customer_id = c.customer_id 
group by c.email having sum(g.turnover_eur) >=500 ;'''